## Adobe I/O Runtime credentials
# AIO_runtime_auth=
# AIO_runtime_namespace=14257-graybox-<env>
# AIO_runtime_apihost=https://adobeioruntime.net

# Sharepoint details
DRIVE_ID=
SP_SITE=
SP_AUTHORITY=
SP_CLIENT_ID=

# Azure App Cert details
CLIENT_ID=
TENANT_ID=
CERT_PASSWORD=
CERT_KEY_FILE=
CERT_KEY=
CERT_THUMB_PRINT=

# Github configs
GROUP_CHECK_URL=
GRAYBOX_USER_GROUPS=